doctype html
html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
head
    meta
    title jade study
    
body
    h3 markdown
    :markdown
        hi,this is **jade** [link](http://immoc.com)
        
    h3 coffee
    script
        :coffee
            console.log 'this is coffee';

        
</html>
